* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #003251;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
/*========SECTION POUR LE HEADER========*/
.header_pf2e {
  text-align: center;
  background: #003251;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 280px;
}
.logo_pf2e {
  flex: 25%;
}
.logo_pf2e a img {
  width: 100%;
  height: 280px;
}
.title_pf2e {
  flex: 75%;
}

/*========SECTION POUR LE NAVBAR-TAB========*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background: #BABDB6FF;
  display: flex;
  justify-content: center;
}
.tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.tab ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.tab ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.tab.align-right ul li {
  float: right;
}
.tab.align-center ul, h2 {
  text-align: center;
}
.tab ul li button {
  background-color: inherit;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.tab ul li button:hover {
  color: #333333;
}
.tab ul li button:hover:before {
  width: 100%;
}
.tab ul li button:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.tab ul li button:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.tab ul li.last > button:after,
.tab ul li:last-child > button:after {
  display: none;
}
.tab ul li button.active {
  color: #333333;
}
.tab ul li button.active:before {
  width: 100%;
}
.tab.align-right li.last > button:after,
.tab.align-right li:last-child > button:after {
  display: block;
}
.tab.align-right li:first-child button:after {
  display: none;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  
  -webkit-animation: fadeEffect 2s;
  animation: fadeEffect 2s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 10px #999;
}
.sticky + .corps_page {
  padding-top: 60px;
}
/*========SECTION POUR LE CORPS DE LA PAGE========*/
.corps_page {
  height: 100%;
  width: 90%;
  margin: auto;
  padding: 40px;
  background-color: #f3f3f3;
  text-align: justify;
}
.corps_page ul li{
  padding-bottom: 20px;
}
.item {
  width: 900px;
  height: 300px;
  margin: 20px auto;
  text-align: justify;
  display: flex;
  justify-content: space-between;
}
.item p, .item img {
  margin: auto 20px;
  border-radius: 20px;
}

#slideshow {
  position: relative;
  width: 237px;
  height: 237px;
  margin:  20px auto;
  overflow: hidden;
}
#sContent li {
  display: inline;
}
#sContent li img {
  border-radius: 20px;
}
#sContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  margin: 0;
  padding: 0;
  
  /*CSS3 keyframes animation*/
  animation-name: AutoSlide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
table, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
}

/*========SECTION POUR LE BAS DE LA PAGE========*/
footer {
  height: 300px;
  background-color: #1a1a1a;
  display: flex;
  flex-flow: row wrap
}
.inscription {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}
.inscription img {
  height: 108px;
  width: 108px;
  border-radius: 20%;
}
.liens_utiles {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: center;
}
.liens_utiles p, a {
  font-size: 25px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.liens_utiles a {
  text-decoration: none;
}
.butt_rx_sociaux {
  color: #ffffff;
}
.butt_rx_sociaux ul {
  list-style: none;
  width: 100%;
}
.butt_rx_sociaux ul li {
  display: inline-block;
}
.butt_rx_sociaux ul li a {
  text-decoration: none;
  padding: 15px 25px;
  color: #ffffff;
}
.fa:before {
  font-size: 2.1em;
}
.fa {
  border-radius: 20%;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
/* Add a hover effect*/
.fa-facebook:hover {
  background: #3B5998;
}
.fa-linkedin:hover {
  background: #007bb5;
}
.fa-instagram:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.fa-facebook {
  /*background: #3B5998;*/
  background: black;
  color: white;
}
.fa-linkedin {
  background: black;
  color: white;
}
.fa-instagram {
  background: black;
  color: white;
}


@keyframes AutoSlide {
  0% {
    left: 0px; /*1ère image*/
  }
  10% {
    left: 0px; /*idem pour attente*/
  }
  20% {
    left: -237px; /*2ème image*/
  }
  30% {
    left: -237px; /*idem pour attente*/
  }
  40% {
    left: -474px; /*3ème image*/
  }
  50% {
    left: -474px; /*idem pour attente*/
  }
  60% {
    left: -711px; /*3ème image*/
  }
  70% {
    left: -711px; /*idem pour attente*/
  }
  100% {
    left: 0px; /*1ère image*/
  }
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
