@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body { overflow-x: hidden; font-family: 'Open Sans', sans-serif; counter-reset: ctr;}
.corps_page p, .corps_page ul li, table { font-size: 20px; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #2a53c1;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  opacity: 0.5
}
#myBtn:hover {
  opacity: 1;
}

.rx_soc .fa, .rx_soc .fa:visited {
  width: 20px;
  text-align: center;
  font-size: 30px;
  margin: 0 10px;
}
.rx_soc_foot .fa, .rx_soc_foot .fa:visited {
  width: 30px;
  text-align: center;
  font-size: 25px;
  margin: 0 10px;
}
.rx_soc a, .rx_soc_foot a {
  color: #fff;
  text-decoration: none;
}
.rx_soc_foot a {
  color: #7E8089;
  text-decoration: none;
}
.fa:hover { opacity: 0.6 }


nav {
  border-bottom: 1px solid #fff;
  background: transparent;
  line-height: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all ease .5s;
}
nav.shrink {
  transition: all ease .5s;
  background: #2a53c1;
  border-bottom: none;
  box-shadow: 0px 1px 10px #999;
}
nav ul { margin: 0; padding: 0; text-align: center; }
nav ul li { list-style: none; float: left; }
nav ul li {
  display: block;
  padding: 30px 25px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  background-color: inherit;
  color: #fff;
  cursor: pointer;
  transition: color .25s;
}
nav ul li:last-child { border-left: 1px solid #fff; height: 100%; padding: 20px 30px }
nav ul li.current, nav ul li:hover { color: #000; }

.hidden-nav {
  display: none;
  width: 100%;
  background: #2a53c1;
  margin: 0;
}
.hidden-menu {
  width: 40px;
  height: 40px;
  /*position: relative;*/
  margin: 10px 0; 
}

.hidden-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hidden-menu span:nth-child(1) { top: 0px; }

.hidden-menu span:nth-child(2), .hidden-menu span:nth-child(3) { top: 18px; }

.hidden-menu span:nth-child(4) { top: 36px; }

.hidden-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hidden-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hidden-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hidden-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media screen and (max-width: 767px) {
  .nav-expand { display: block; }
  nav {
    display: none;
    background: #2a53c1;
    border-top: 1px solid #fff;
    position: relative;
    transition: none !important;
  }
  /*nav ul li button:before, nav ul li button:after { display: none; }*/
  nav ul li { float: none; }
  .hidden-nav { display: block; }

  .fa {
    width: 15px;
    font-size: 20px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 1312px){
  nav ul li:last-child {
    display: none;
  }
}
.tabcontent {
  display: none;
}
.tabcontent.current {
  display: inherit;
}

.hero-accueil {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
  url(../images/hero/hero_accueil2.jpg);
  background-size: cover;
  /*width: 100%;*/
  min-height: 100vh;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-programme {
  background-image: url(../images/hero/hero_programme.jpg);
  background-size: cover;
  width: 100%;
  min-height: 700px;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-apprenant {
  background-image: url(../images/hero/hero_apprenant.jpg);
  background-size: cover;
  width: 100%;
  min-height: 700px;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-formation {
  background-image: url(../images/hero/hero_formation.jpg);
  background-size: cover;
  width: 100%;
  min-height: 700px;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-entreprise {
  background-image: url(../images/hero/hero_entreprise.jpg);
  background-size: cover;
  width: 100%;
  min-height: 700px;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-offre {
  background-image: url(../images/hero/hero_offre.jpg);
  background-size: cover;
  width: 100%;
  min-height: 700px;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-text {
  margin: 0;
  width: 56%;
  color: #fff;
  position: absolute;
  height: 420px;
  top: 20%;
  /*left: 5%;*/
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.6643032212885154) 0%, rgba(42,83,193,0.8071603641456583) 52%);
  padding: 20px 20px 20px 100px;
  border-radius: 0 20px 20px 0;
  /*text-align: justify;*/
}
.hero-text ol li { padding-top: 20px; }

.comptage h3::before {
  content: counter(ctr);
  counter-increment: ctr;
  display: block;
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #2a53c1;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.comptage h3 {
  padding-left: 6.4rem;
  margin-top: 0;
  margin-bottom: 2.4rem;
  line-height: 4.8rem;
  position: relative;  
}
