@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,500,600,700|IBM+Plex+Serif:300,300i,400,500,600,700");

html { scroll-behavior: smooth; }
/* HEADER & FOOTER de la page */
body {
  padding-top: 70px;
  font-family: "IBM Plex Sans", sans-serif;
  position: relative;
  counter-reset: ctr;
  overflow-x: hidden
}
.fa:before {
  font-size: 2.1em;
}
.fa {
  border-radius: 20%;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}


/* BODY de la page */
.hero {
  background-image: url(../images/Archive/image1.jpg);
  background-size: cover;
  width: 100%;
  height: 750px;
}
.hero p {
  color:white;
  text-align: center;
  /*font-size: 6em;*/
  padding-top: 150px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.comptage h3::before {
  content: counter(ctr);
  counter-increment: ctr;
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #00a650;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.comptage h3 {
  padding-left: 6.4rem;
  margin-top: 0;
  margin-bottom: 2.4rem;
  line-height: 4.8rem;
  position: relative;
}

#acces h3 { text-align: center; font-weight: bold; }

.col-lg-4 {
  position: relative;
  min-height: 1px;
  padding-right: 25px;
  padding-left: 25px;
}
