* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header_pf2e */
.header_pf2e {
  text-align: center; /* center the text */
  background: #2e4f6a; /* green background */
  color: white; /* white text color */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 280px;
}
.logo_pf2e {
  flex: 25%; /* Set the width of the sidebar */
}
.logo_pf2e a img {
  width: 100%;
  height: 280px;
}
.title_pf2e {
  flex: 75%; /* Set the width of the main content */
}
/* Increase the font size of the <h1> element */
.header_pf2e .title_pf2e h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
#nav_bar_pf2e {
  background: #BABDB6FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the navigation bar links */
#nav_bar_pf2e ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#nav_bar_pf2e ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#nav_bar_pf2e ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#nav_bar_pf2e.align-right ul li {
  float: right;
}
#nav_bar_pf2e.align-center ul {
  text-align: center;
}
#nav_bar_pf2e ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#nav_bar_pf2e ul li a:hover {
  color: #333333;
}
#nav_bar_pf2e ul li a:hover:before {
  width: 100%;
}
#nav_bar_pf2e ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#nav_bar_pf2e ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#nav_bar_pf2e ul li.last > a:after,
#nav_bar_pf2e ul li:last-child > a:after {
  display: none;
}
#nav_bar_pf2e ul li.active a {
  color: #333333;
}
#nav_bar_pf2e ul li.active a:before {
  width: 100%;
}
#nav_bar_pf2e.align-right li.last > a:after,
#nav_bar_pf2e.align-right li:last-child > a:after {
  display: block;
}
#nav_bar_pf2e.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #nav_bar_pf2e ul li {
    float: none;
    display: block;
  }
  #nav_bar_pf2e ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #333333;
  }
  #nav_bar_pf2e ul li.last > a,
  #nav_bar_pf2e ul li:last-child > a {
    border: 0;
  }
  #nav_bar_pf2e ul li a:after {
    display: none;
  }
  #nav_bar_pf2e ul li a:before {
    display: none;
  }
}
.corps_page {
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 40px;
  background-color: #f3f3f3;
  text-align: justify;
}
.corps_page ul li {
  padding-bottom: 20px;
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  #nav_bar_pf2e a {
    float: none;
    width:100%;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .corps_page  {
  padding-top: 60px;
}

.footer {
  height: 150px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.inscription {
  display: flex;
  flex-direction: row;
  height: 110px;
  padding: 10px 0;
}
.inscription img {
  margin-right:10px;
  height: 100px;
  width: 100px;
  border-radius: 20%;
}
.liens_utiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}
.liens_utiles a {
  color: #ffffff;
  text-decoration: none;
}
.liens_utiles p {
  color: #ffffff;
}

.butt_rx_sociaux {
  height: 150px;
  color: #ffffff;
}
.butt_rx_sociaux * {
  align-items: center;
  padding: 10px;
}
.butt_rx_sociaux ul {
  list-style: none;
  margin: 0;
  padding: auto;
  line-height: 1;
  display: block;
  zoom: 1;
}
.butt_rx_sociaux ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.butt_rx_sociaux ul li a {
  text-decoration: none;
  padding: 15px 25px;
  color: #ffffff;
}

.fa:before {
  width: 40px;
  height: 40px;
  font-size: 2.1em;
}
.fa {
  border-radius: 20%;
  margin-top: 40px;
}
/* Add a hover effect if you want */
.fa-facebook:hover {
  background: #3B5998;
}
.fa-linkedin:hover {
  background: #007bb5;
}
.fa-instagram:hover {
  background: #365668;
}
/* Facebook */
.fa-facebook {
  /*background: #3B5998;*/
  background: black;
  color: white;
}
/* LinkedIn */
.fa-linkedin {
  /*background: #007bb5;*/
  background: black;
  color: white;
}
/* Instagram */
.fa-instagram {
  /*background: #365668;*/
  background: black;
  color: white;
}
